.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  z-index: 100;
  box-shadow: inset 0px 6px 6px #182f40;
  /* background: rgb(254, 205, 108); */
  background-image: linear-gradient(
    rgba(191, 122, 48, 1) 0%,
    rgba(191, 122, 48, 0.3) 50%,
    rgba(191, 122, 48, 0.15) 65%,
    rgba(191, 122, 48, 0.075) 75.5%,
    rgba(191, 122, 48, 0.037) 82.85%,
    rgba(191, 122, 48, 0.019) 88%,
    rgba(191, 122, 48, 0) 100%
  );
}
.text {
  font-family: "Yanone Kaffeesatz";
  font-size: 5vw;
  display: flex;
  position: absolute;
  bottom: 11vh;
  left: 50%;
  color: aliceblue;
  z-index: 101;
  transform: translateX(-50%);
  user-select: none;
}
.text .wrapper {
  padding-left: 0.85vw;
  padding-right: 0.85vw;
  padding-top: 1vh;
}
.text .wrapper .letter {
  transition: ease-out 1s;
  transform: translateY(40%);
}
.text .wrapper .shadow {
  transform: scale(1, -1);
  color: #182f4094;
  transition: ease-in 5s, ease-out 5s;
}
.text .wrapper:hover .letter {
  transform: translateY(-100%);
}
.text .wrapper:hover .shadow {
  opacity: 0;
  transform: translateY(100%);
}

.middle {
  display: flex;
  justify-content: center;
  width: 61vw;
  padding-left: 37vw;
  padding-top: 25vh;
}
